@model OnlineMarket.web.Areas.Admin.Models.ProductUpdateModel

@{ ViewData["Title"] = "Edit"; }

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Edit Product</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Current Products</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-antiforgery="true"
                          method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Name" class="label">Name</label>
                            <input type="text"
                                   asp-for="Name"
                                   placeholder="Name"
                                   class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input type="number"
                                   asp-for="Price"
                                   placeholder="Price"
                                   class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ImagePath">Image</label>
                            <img src="@Model.ImagePath" width="100" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFile">Image</label>
                            <input type="file" name="ImageFile" />
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Update
                        </button>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
